<!DOCTYPE html>
<html>
  <head>
    <title>Edit Item</title>
    </style>
  </head>
  <body>
    <%- include("../../partials/navbar.ejs")%>
    <% if (locals.error) {%>
    <p><%= locals.error.message%></p>
    <%}%>
    <h2>Edit Item</h2>
    <form action="/item/<%= item.id%>/edit" method="POST">
      <lable for="itemName">Item Name</lable><br>
      <input type="text" name="itemName" id="itemName" value="<%=item.itemName%>"><br>
      <lable for="itemDesc">Item Description</lable><br>
      <input type="text" name="itemDesc" id="itemDesc" value="<%=item.itemDesc%>"><br>
      <lable for="price">Price</lable><br>
      <input type="number" name="price" id="price" value="<%=item.price%>"><br>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>