<!DOCTYPE html>
<html>
  <head>
    <title>Item List</title>
    </style>
  </head>
  <body>
    <%- include("../../partials/navbar.ejs")%>
    <% if (locals.error) {%>
    <p><%= locals.error.message%></p>
    <%}%>
    <h2>Item List</h2>
      <table>
        <tr>
          <th>No.</th>
          <th>Item Name</th>
          <th>Item Description</th>
          <th>Price</th>
          <%if (locals.user) {%>
            <%if (locals.user.username === "admin") {%>
              <th>Option</th>
            <%}%>
          <%}%>
        </tr>
        <%for (let i = 0; i < items.length; i++) {%>
          <tr>
            <td><%= i+1%></td>
            <td><%= items[i].itemName%></td>
            <td><%= items[i].itemDesc%></td>
            <td><%= items[i].price%></td>
            <%if (locals.user) {%>
                <td><a href="/item/<%= items[i].id%>/edit">Edit</a> | <a href="/item/<%= items[i].id%>/delete" onclick="return confirm('Delete item from list? Confirm to delete!')">Delete</a></td>
              <td>
                <form action="/item/<%= locals.user.username%>/<%= items[i].id%>" method="GET">
                  <button type="Submit">Add to Cart</button>
                </form>
              </td>
            <%}%>
          </tr>
        <%}%>
      </table>
      <%if (locals.user) {%>
        <%if (locals.user.username != "admin") {%>
          <form action="/transaction/<%= locals.user.username%>/" action="GET">
          <button type="submit">Process Buy</button>
          </form>
        <%} else {%>
          <a href="/item/add">Add Item</a>
        <%}%>
      <%}%>
  </body>
</html>