<!DOCTYPE html>
<html>
  <head>
    <title>Edit Profile</title>
    </style>
  </head>
  <body>
    <%- include("../../partials/navbar.ejs")%>
    <% if (locals.error) {%>
    <p><%= locals.error.message%></p>
    <%}%>
    <h2>Edit Profile</h2>
    <form action="/user/<%=user.username%>/profile/edit" method="POST">
      <lable for="username">Username</lable><br>
      <input type="text" name="username" id="username" value="<%=user.username%>"><br>
      <lable for="password">Password</lable><br>
      <input type="text" name="password" id="password" value="set new password"><br>
      <lable for="email">Email</lable><br>
      <input type="text" name="email" id="email" value="<%=user.email%>"><br>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>