<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    </style>
  </head>
  <body>
    <%- include("../../partials/navbar.ejs")%>
    <% if (locals.error) {%>
    <p><%= locals.error.message%></p>
    <%}%>
    <h2>Profile Page</h2>
    <table>
      <tr>
        <th>Username</th>
        <td><%= user.username%></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= user.email%></td>
      </tr>
      <tr>
        <th>Option</th>
        <td><a href="/user/<%=user.username%>/profile/edit">Edit</a> | <a href="/user/<%=user.username%>/profile/delete" onclick="return confirm('Delete user data? Confirm to auto logout!')">Delete</a></td>
      </tr>
      <tr>
          <th>Transaction</th>
          <td><a href="/user/<%=user.username%>/transaction">Transaction History</a></td>
        </tr>
    </table>
  </body>
</html>